body {
    background-color: #ccffff;
}

div.div_table {
    margin-left: 20px;
    padding-right: 5px;
    margin-top: 10px;
    display: table;
    background-color: #99ffff;
    border-spacing: 5px;  /*cellspacing:poor IE support for  this */
    border: none;

    /* border-collapse: collapse; */

}

div.div_row {
    display:table-row;
    width:auto;
    white-space: nowrap;
}

div.div_cell_left {
    float:left; /*fix for  buggy browsers*/
    display:table-column;
    width: 100px;
    height: 20px;
    padding-right: 6px;
    text-align: right;
}

div.div_cell_right {
    float:left; /*fix for  buggy browsers*/
    display:table-column;
    width: 150px;
    height: 20px;
    text-align: left;
}

/* hide close button on a dialog */
.ui-dialog-titlebar-close {
  visibility: hidden;
}

/* make title non-transparent */
.ui-dialog-title {
  background-color: #99ffff;
  padding: 2px;
}
